{% extends 'base.html' %}

{% block title %}Créer une critique{% endblock %}

{% block content %}
<div class="container">
<div>
    Vous êtes en train de poster en réponse à
    {% with post=ticket %}
      {% include "ticket_snippet.html" %}
    {% endwith %}
</div>
 <form method="post">
    {% csrf_token %}
    <div>
      <h2> Critique </h2>
      <label type="text">Titre</label>
      {{ form.headline }}
      <p> {{ form.errors.headline }} </p>
      <label type="text" >Note</label>
      {{ form.rating }}
      <p> {{ form.errors.rating }} </p>
      <label type="text" >Commentaire</label>
      {{ form.body }}
      <p> {{ form.errors.body }} </p>
    </div>
    <button class="btn btn-primary" type="submit">Envoyer</button>
  </form>
</div>
{% endblock %}