{% extends 'base.html' %}

{% block title %}Créer un ticket{% endblock %}

{% block content %}
<div class="container">
 <form method="post">
    {% csrf_token %}
    <div>
      <label class="form-label" type="text">Titre</label>
      {{ form.title }}
      <p> {{ form.errors.title }} </p>
      <label class="form-label" type="text" >Description</label>
      {{ form.description }}
      <p> {{ form.errors.description }} </p>
      <label class="form-label" type="text" >Image</label>
      {{ form.image }}
      <p> {{ form.errors.image }} </p>
    </div>
    <div class="text-end">
      <button class="btn btn-secondary" type="submit">Envoyer</button>
    </div>
  </form>
</div>
{% endblock %}