{% extends 'base.html' %}

{% block title %}Vos posts{% endblock %}

{% block content %}
<div class="container">
{% if not posts %}
	<div class="row py-1 justify-content-center">
		<div class="col text-center">
			Nothing to show
		</div>
	</div>
{% else %}
	{% for post in posts %}
		{% if post.content_type == "TICKET" %}
			{% include "ticket_snippet.html" %}
		{% elif post.content_type == "REVIEW" %}
			{% include "review_snippet.html" %}
		{% endif %}
	{% endfor %}
{% endif %}
</div>
{% endblock %}
