{% extends 'base.html' %}
{% block content %}
<h2> Suivre d'autres utilisateurs </h2>
	<form method="post" action="{% url 'follow' %}">
		{% csrf_token %}
		<input name="followed_user" type="text"> </input> 
		<button type="submit"> Envoyer </button>
	</form>
	<h2>Subscriptions</h2>
	<table>
	    {% for subscription in object_list %}
	        <tr>
	        	<td>
	        		{{ subscription.followed_user.username }}
	        	</td>
	        	<td>
	        		<a href="{% url 'unfollow' pk=subscription.followed_user.id %}">
	        			{% csrf_token %}
		        		<button type="submit" value="DELETE">
		        			Se désabonner
		        		</button>
	        		</a>
	        	</td>
	        </tr>
	     {% empty %}
	     	<tr> <td>Vous ne suivez aucun utilisateur pour le moment</td> </tr>
	    {% endfor %}
	</table>
{% endblock %}